<div class="flex justify-center">
    <div class="flex items-center justify-between w-5/6 h-14 bg-orange-400 rounded-md m-5 p-5">
        <a href="main" class="font-semibold dark:text-black">มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</a>
       
        <div class="flex justify-end items-center w-40">
            <div class="dropdown dropdown-hover  rounded-md h-12 w-auto ">
                <!--  -->
                <div tabindex="0" role="button" class="btn flex bg-blue-300 dark:text-black hover:text-white "><i class="bi bi-person-circle flex justify-start items-center text-lg "></i>{{username}}</div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52  ">
                    <li><a href="/profile">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                    </ul>
              </div>
            </div>
    </div>
</div>