{% extends "base.html" %}

{% block content %}

<div class="flex flex-col   min-h-screen  bg-green-100">
    {% include "component/nav.html" %}
    <div class="flex flex-col flex-grow">
        <div class="flex justify-center">
            <div class="flex w-4/6 ">
                <div class="flex w-full py-2 justify-between bg-green-200 rounded-md p-2">
                    <span class="font-semibold dark:text-black">Project storage system วิศวะกรรมคอมพิวเตอร์</span>
                    <input type="search" name="search" placeholder="Search..."
                        class="w-48 h-7 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
                </div>
            </div>
        </div>
        <div class="flex justify-center dark:text-black">
            <div class="flex flex-col w-4/6 p-5">
                <a href="{% url 'project_teacher' %}" class="p-3 m-2 bg-gray-400 rounded-lg hover:bg-gray-500 cursor-pointer flex">
                    <span class="flex-grow">โปรเจคจำแนกครูที่ปรึกษา</span>
                </a>
                <a href="{% url 'project_year' %}" class="p-3 m-2 bg-gray-400 rounded-lg hover:bg-gray-500 cursor-pointer flex">
                    <span class="flex-grow">โปรเจคนำแนกตามปีการศึกษา</span>
                </a>
                <a href="{% url 'project_software' %}" class="p-3 m-2 bg-gray-400 rounded-lg hover:bg-gray-500 cursor-pointer flex">
                    <span class="flex-grow">โปรเจ็คซอฟต์แวร์</span>
                </a>
                <a href="{% url 'project_hardware' %}" class="p-3 m-2 bg-gray-400 rounded-lg hover:bg-gray-500 cursor-pointer flex">
                    <span class="flex-grow">โปรเจ็คฮาร์ดแวร์</span>
                </a>
            </div>
        </div>
    </div>
    <div class="flex">
        {% include "component/footer.html" %}
    </div>
</div>

{% endblock %}